@charset "UTF-8";
.footer {
  display: none; /* Dölj fottern som standard */
}
@media (min-width: 1200px) {
  .footer {
    position: fixed; /* Fäst fottern till botten av fönstret */
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #194C67;
    color: azure;
    height: 60px;
    width: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9A136;
  height: 100px;
}
.header .logo {
  margin-right: 0.5em;
}
.header .logo img {
  height: 75px;
  border-radius: 3rem;
}
.header h1 {
  margin-left: 1rem;
  color: #194C67;
  font-size: 1.5rem;
}
@media (max-width: 1200px) {
  .header {
    height: 70px; /* Ändra höjden på headern till 50px när skärmstorleken är under 1200px */
  }
  .header .logo img {
    height: 60px; /* Ändra höjden på loggan när skärmstorleken är under 1200px */
  }
  .header h1 {
    font-size: 1.2rem; /* Ändra fontstorleken på h1 när skärmstorleken är under 1200px */
  }
}

form {
  background-color: #CEDCDF;
}
form h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
form .formBox {
  display: grid;
  justify-content: space-around;
  align-items: center;
}
form .formBox input {
  min-width: 300px;
}
form .d-grid .btn-success {
  margin: 1rem;
}

.alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.alert img {
  height: 50vh;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.alert .btn-primary {
  background-color: #F9A136;
  margin-bottom: 3rem;
}

main .wrapper {
  background-color: #CEDCDF;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  padding: 1rem;
}
@media (min-width: 1200px) {
  main .wrapper {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  main .wrapper .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
main .wrapper .btn .btn-primary {
  background-color: #194C67;
  border: #194C67;
  margin: 1rem;
}
main .wrapper .carousel {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1200px) {
  main .wrapper .carousel {
    width: 40dvw;
  }
}
main .wrapper .carousel img {
  width: 90dvw;
  height: 60dvw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
@media (min-width: 1200px) {
  main .wrapper .carousel img {
    width: 40dvw;
    height: 30dvw;
  }
}

html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(255, 255, 255);
}